@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container
{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}

.cardbody
{
    position:relative;
    top:35px;
}

.card
{
    box-shadow: 0px 0px 10px grey;
    width:300px;
    height:400px;
    border-radius: 10px;
}

.form-element
{
    margin-left:20px;
    padding:10px;
    position:relative;
    top:10px;
    color:#A48686;
    font-weight: bold;
}


.form-control
{
    margin: 10px 25px;
    padding:10px;
    border-radius: 10px;
    width:250px;
    border:2px solid grey;
}

span
{
    font-family: 'Poppins', sans-serif;
    margin-left:25px;
    padding:5px;
    font-size:12px;
    font-weight: bold;
}


.help
{
    display:flex;
    flex-direction:row;
    margin-left:15px;
    margin-top:10px;
}

input[type=checkbox] {
    width: 15px;
    height: 15px;
    margin-left:10px;
    }

.rem
{
    font-size:12px;
    margin-left:5px;
    font-weight: bold;
}


p
{
    font-size:12px;
    color:green;
    margin-left:35px;
}

p:hover{
    text-decoration: underline;
    cursor: pointer;
}

button{
    margin-top:20px;
    padding:10px;
    text-align: center;
    margin-left:25px;
    margin-right:25px;
    background: blue;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    color:#fff;
    width:250px;
}

button:hover
{
    cursor: pointer;
}
